@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		background: #ff8040;
		font-size: 1em;
	}	
	canvas {
		background: green;
		width: 96vw;
	}
	#valores {
		position: absolute;
		left: 5vw;
		top: 53vh;
	}
	#pontos {
		position: absolute;
		left: 5vw;
		top: 62vh;
	}
	#fichas {
		position: absolute;
		left: 5vw;
		top: 71vh;
	}
	.ficha {
		font-size: 0.5em;
		font-weight: bold;
		height: 75px;
		width: 75px;
		border-radius: 50%;
		border: 8px dashed white;
	}
	#ficha100 {
		color: white;
		background: black;
	}
	#ficha50 {
		color: black;
		background: red;
	}
	#ficha20 {
		color: black;
		background: green;
	}
	#ficha10 {
		color: black;
		background: blue;
	}
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	body {
		background: #ff8040;
		font-size: 1em;
	}
	canvas {
		background: green;
		width: 98vw;
		height: 152,6146vh;
	}
	#valores {
		position: absolute;
		left: 1vw;
		top: 68vh;
	}
	#pontos {
		position: absolute;
		left: 1vw;
		top: 75vh;
	}
	#fichas {
		position: absolute;
		left: 51vw;
		top: 65vh;
	}
	.ficha {
		font-weight: bold;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 12px dashed white;
	}
	#ficha100 {
		color: white;
		background: black;
	}
	#ficha50 {
		color: black;
		background: red;
	}
	#ficha20 {
		color: black;
		background: green;
	}
	#ficha10 {
		color: black;
		background: blue;
	}
}
@media only screen and (min-width : 1024px) {
	body {
		background: #ff8040;
		font-size: 1em;
	}
	canvas {
		background: green;
		width: 50vw;
		height: 77.8645vh;
	}
	#valores {
		position: absolute;
		left: 51vw;
		top: 1vh;
	}
	#pontos {
		position: absolute;
		left: 51vw;
		top: 15vh;
	}
	#fichas {
		position: absolute;
		left: 51vw;
		top: 60vh;
	}
	.ficha {
		font-weight: bold;
		height: 150px;
		width: 150px;
		border-radius: 50%;
		border: 12px dashed white;
	}
	#ficha100 {
		color: white;
		background: black;
	}
	#ficha50 {
		color: black;
		background: red;
	}
	#ficha20 {
		color: black;
		background: green;
	}
	#ficha10 {
		color: black;
		background: blue;
	}
}