body {background: #ff8040;}
canvas {background: green;}
#valores {
	position: absolute;
	left: 720px;
	top: 50px;
}
#pontos {
	position: absolute;
	left: 720px;
	top: 200px;
}
#fichas {
	position: absolute;
	left: 720px;
	top: 400px;
}
.ficha {
	font-weight: bold;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 12px dashed white;
}
#ficha100 {
	color: white;
	background: black;
}
#ficha50 {
	color: black;
	background: red;
}
#ficha20 {
	color: black;
	background: green;
}
#ficha10 {
	color: black;
	background: blue;
}

@media screen and (orientation: portrait) {
	body {font-size: 45px;}
	
	canvas {
		background: green;
		width: 100%;
	}
	
	button {
		width: 25%;
		font-size: 25px;
		padding: 2%;
		margin: 2%;
	}
	
	#valores {
		position: absolute;
		left: 5%;
		top: 50%;
	}
	#pontos {
		position: absolute;
		left: 5%;
		top: 60%;
	}
	#fichas {
		position: absolute;
		left: 5%;
		top: 70%;
	}
}