body {
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background: green;
    width: 100%;
    border: solid 2px black;
    border-radius: 20px;
}

form {
    background: #9E9D24;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 20px;
}

input:valid {
    background: green;
}

input:invalid {
    background: red;
}

input[type="submit"],
input[type="button"] {
    margin: 5px 5px 0px;
    background-color: #03a9f4;
    font-size: 24px;
    padding: 5px;
    border-radius: 8px;
}