body {background: #dff;}
canvas {background: black;}
textarea {
	position: absolute;
	top: 10%;
	left: 60%;
	border: 2px solid black;
	resize: none;
}
div {
	position: absolute;
	top: 81%;
}
#fcampo {
	position: absolute;
	top: 81%;
	left: 60%;
}