body {
    background-color: rgb(127, 225, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.infos {
    line-height: 80%;
    width: 100%;
}

span {
    margin-right: 5px;
}

pre {
    line-height: 26px;
    font-size: 30px;
    padding: 2px;
    width: fit-content;
    border: solid blue;
    background-color: azure;
}

.botao-grande {
    width: 80px;
    height: 80px;
    font-size: 2em;
    margin: 10px;
}

.oculto {
    display: none;
}

.exibe {
    display: inline;
}

.negrito {
    font-weight: bold;
}